.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
    /* color: 'white'; */
    fill: aliceblue;
}

/* input dashboard page: api resource list > checkbox   */
.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.select-item.RaDatagrid-checkbox.css-1buih10-MuiButtonBase-root-MuiCheckbox-root svg path {
    /* color: rgba(255, 255, 255, 0.6); */
    fill: #C45267;
}

/* List Header check box */
.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.Mui-checked.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-sizeMedium.select-all.css-1buih10-MuiButtonBase-root-MuiCheckbox-root svg path{
    fill: #140808;
}

.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeSmall.RaDatagrid-headerCell {
    color: white;
    background-color: #cd1335;
}

/* dashbaord page: Api resource List  text */
.MuiTypography-root.MuiTypography-body2.css-e784if-MuiTypography-root {
    color: #a52d2d
}

.MuiChip-root.MuiChip-filled.MuiChip-sizeMedium.MuiChip-colorDefault.MuiChip-filledDefault.RaChipField-chip {
    color: #cd1335;
}
