.content {
    margin: 2rem auto;
    text-align: center;
}

.visiblityMessageActive{
    visibility: visible;
    opacity: 80%;
}

.visiblityMessageNonActive{
    visibility: hidden;
    opacity: 10%;
}

.successDisplay {
    background-color: rgb(134 239 172);
    border: 1 solid rgb(74 222 128);
    color: rgb(21 128 61);
}

.errorDisplay {
    background-color: rgb(239, 134, 134);
    border: 1 solid rgb(222, 74, 74);
    color: rgb(128, 21, 21);
}

.displayMessage {
    position: fixed;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    /* top: 15%; */
    padding: 1rem;
    font-size: 0.8rem;
    justify-content: center;
    
    z-index: 20;
    -webkit-transition: all 0.2s ease-in-out .30s;
    -moz-transition: all 0.2s ease-in-out .30s;
    -o-transition: all 0.2s ease-in-out .30s;
    transition: all 0.2s ease-in-out .30s;
    transition: all 0.2s;
}

@media screen and (max-width: 499px) {
    .displayMessage {
        top: 4.5rem;
        width: 100%;
    }
  }

  @media screen and (min-width: 500px) {
    .displayMessage {
        top: 4.5rem;
        width: 100%;
    }
  }

  @media screen and (min-width: 1900px) {
    .displayMessage {
        top: 4.5rem;
        width: 120rem;
    }
  }